body {
    background-image: url('https://images4.alphacoders.com/129/1292331.jpg');
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    color: rgb(249, 247, 253); /* Altera a cor do texto para branco */
    font-family: Arial, sans-serif; /* Define a fonte da página */
}

header {
    background-color: rgba(66, 66, 45, 0.6);
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 3em;
    src: url(/atividade19-03-main/shine.zip);
    font-family: Starborn3;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

section {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); 
    margin: 20px 0;
    border-radius: 8px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p, ul, ol {
    font-size: 1.1em;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

footer p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar a {
    color: rgb(235, 232, 64);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    position: relative;
    transition: color 0.3s ease;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #eeeb57;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}


.navbar a:hover {
    color: #d8e06a;
}

.navbar a:hover::after {
    width: 100%;
}

header img{
    position: fixed;
    left: 30px;
}
